{% extends '@SyliusShop/Email/layout-new.html.twig' %}

{% block subject %}{{ 'theme.email.stock.stock_title'|trans({}, null, localeCode) }}{% endblock %}

{% block content %}

    <div style="text-align: center; padding-bottom: 30px;">
        <div style="font-size: 30px; line-height: 1.2;">
            {{ 'theme.email.stock.stock_title'|trans({}, null, localeCode) }}
        </div>
    </div>

    <div style="text-align: center; padding-bottom: 15px; font-size: 15px;">
        {{ 'theme.email.stock.stock_message'|trans({
            '{product}': product.name,
            '{url}': url('sylius_shop_product_show', {'slug': product.slug, '_locale': localeCode})
        }, null, localeCode)|raw }}
    </div>

    <div style="text-align: center; padding-bottom: 30px; font-size: 15px;">
        <a href="{{ url('sylius_shop_product_show', {'slug': product.slug, '_locale': localeCode}, null, localeCode)|raw }}" style="display: inline-block; text-align: center; background: #fff; padding: 12px 28px; border-radius: 50px; color: #000; text-decoration: none; font-size: 13px; letter-spacing: 0.1em; text-transform: uppercase;">
            {{ 'theme.email.stock.stock_action'|trans({}, null, localeCode)|raw }}
        </a>
    </div>

{% endblock %}
