{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}{{ 'webgriffe_bisn.alert_email.alert_title'|trans({}, null, localeCode) }}{% endblock %}

{% block content %}
    <div style="text-align: center; padding-bottom: 30px;">
        <div style="font-size: 30px; line-height: 1.2;">
            {{ 'webgriffe_bisn.alert_email.alert_title'|trans({}, null, localeCode) }}
        </div>
    </div>

    <div style="text-align: center; padding-bottom: 15px; font-size: 15px;">
        {{ 'webgriffe_bisn.alert_email.alert_message'|trans({
            '{product}': product.name
        }, null, localeCode)|raw }}
    </div>

    <div style="text-align: center; padding-bottom: 30px; font-size: 15px;">
        <a href="{{ url('sylius_shop_product_show', {'slug': product.slug, '_locale': localeCode}, true, localeCode) }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; text-transform: uppercase; border-radius: 3px;" target="_blank">
            {{ 'webgriffe_bisn.alert_email.alert_action'|trans({}, null, localeCode)|raw }}
        </a>
    </div>
{% endblock %}
