{% if product.isConfigurable %}
    <div id="sylius-variants-stock" data-option-code="{{ product.variants.first.optionValues|map(optionValue => "#{optionValue.optionCode}")|json_encode }}">
        {% for variant in product.variants %}
            <div data-options-value="{{ variant.optionValues|map(optionValue => "#{optionValue.code}")|json_encode }}" data-available="{{ sylius_inventory_is_available(variant) }}" data-variant-code="{{ variant.code }}"></div>
        {% endfor %}
    </div>
    <button type="button" id="trigger-notification-overlay" class="ui huge primary icon labeled button" style="display: none"><i class="bell icon"></i> {{ 'webgriffe_bisn.product_page.form_action'|trans }}</button>
{% endif %}