{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ 'webgriffe_bisn.my_account_section.title'|trans }} - {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'webgriffe_bisn.my_account_section.menu_label'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui stackable">
        <h1 class="ui header">
            {{ 'webgriffe_bisn.my_account_section.title'|trans }}
            <div class="sub header">{{ 'webgriffe_bisn.my_account_section.sub_title'|trans }}</div>
        </h1>
    </div>
    <div class="ui hidden divider"></div>
    {% if lines|length > 0 %}
        <div class="sylius-grid-wrapper">
            <div class="ui segment spaceless sylius-grid-table-wrapper">
                <table class="ui sortable stackable very basic celled table">
                    <thead>
                    <tr>
                        <th>{{ 'webgriffe_bisn.my_account_section.product'|trans }}</th>
                        <th>{{ 'webgriffe_bisn.my_account_section.option'|trans }}</th>
                        <th>{{ 'webgriffe_bisn.my_account_section.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for line in lines %}
                        <tr class="item">
                            <td>
                                <a href="{{ path('sylius_shop_product_show', {'slug': line.variant.product.slug, '_locale': line.variant.product.translation.locale}) }}">
                                    {{ line.variant.product.name }}
                                </a>
                            </td>
                            <td>
                                {% for optionValue in line.variant.optionValues %}
                                    {{ optionValue.name }}: {{ optionValue.value }}
                                {% else %}
                                    {{ 'webgriffe_bisn.my_account_section.simple'|trans }}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="ui buttons">
                                    <a href="{{ path('webgriffe_back_in_stock_notification_delete_subscription', {'hash': line.hash}) }}"
                                       class="ui labeled icon button">
                                        <i class="icon credit trash alternative"></i>
                                        {{ 'webgriffe_bisn.my_account_section.remove'|trans }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="ui icon info message">
            <i class="info circle icon"></i>
            <div class="content">
                <div class="header">
                    {{ 'webgriffe_bisn.my_account_section.info_empty_list'|trans }}
                </div>
                <p>{{ 'webgriffe_bisn.my_account_section.empty_list'|trans }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
